/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Header */ 
header {
    position: absolute;
    background-color: black;
    height: 8vh;
    line-height: 2vh;
    width: 100%;
    display: block;
}

h1 {
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #66fcf1;
    font-size: 40px;
    padding-left: 38px;
}
  
/* Nav bar */


li {
    list-style-type: none;
    font-family: "roboto", sans-serif;
    color: #66fcf1;
    display: inline;
    margin-right: 20px;
}

ul, li, a {
    text-decoration: none;
    color:#66fcf1;
}



body {
    margin: 0;
    padding: 0;
}


/* Main content*/
main {
    display: flex;
    background-color: black;
    color: white;
    min-height: 100vh;
    width: 100%;
}

/* Footer */
footer {
    flex-direction: column;
    height: 6vh;
}

/* Large devices laptops */ 
@media screen and (min-width: 992px) {

    #nav a:hover {
        background-color: #aeb7bf;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    #mainheading {
        line-height: 40px;
        font-size: 70px;
    }

    ul {
        float: right;
        margin-right: 30px;
        left: 130px;
        line-height: 40px;
        font-size: 40px;
    }
/*
    ul, li {
        display: inline-block;
        line-height: 30px;
        padding-left: 20px;
    }
*/
  
/*
    #mainheading {
        font-size: 38px;
        letter-spacing: 2px;
        padding-left: 100px;
    }

    #nav {      
        padding-top: 20px;
        font-size: 25px;
        padding-right: 30px;
    }

    #menu {
        display: flex;
        justify-content: space-between;
    }
*/
} 